In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("dataset_hackathon/datasetreco.csv", sep=";")

In [3]:
df.head()

,Date,Time,event_type,user_id,user_session,product_id,price,category,subcategory,subsubcategory,is_view,is_cart,is_purchase,p_views,p_carts,p_purchases,user_views,user_carts,user_purchases
0,2020-09-24,12:02:19,view,1515915625519390366,F71OG8wWVP,3828758,21.59,electronics,audio,acoustic,1,0,0,372,1,0,1,0,0
1,2020-09-24,12:22:49,view,1515915625519398031,hq3JGndGca,1271549,405.65,electronics,audio,acoustic,1,0,0,365,1,0,1,0,0
2,2020-09-24,12:48:31,view,1515915625519407618,JB3Sy5LCfb,124712,204.79,electronics,audio,acoustic,1,0,0,513,68,61,2,1,1
3,2020-09-24,12:49:34,view,1515915625519407618,bRZAHDpYFC,124712,204.79,electronics,audio,acoustic,1,0,0,513,68,61,2,1,1
4,2020-09-24,12:50:22,cart,1515915625519407618,bRZAHDpYFC,124712,204.79,electronics,audio,acoustic,0,1,0,513,68,61,2,1,1

In [4]:
df.head(15)

,Date,Time,event_type,user_id,user_session,product_id,price,category,subcategory,subsubcategory,is_view,is_cart,is_purchase,p_views,p_carts,p_purchases,user_views,user_carts,user_purchases
0,2020-09-24,12:02:19,view,1515915625519390366,F71OG8wWVP,3828758,21.59,electronics,audio,acoustic,1,0,0,372,1,0,1,0,0
1,2020-09-24,12:22:49,view,1515915625519398031,hq3JGndGca,1271549,405.65,electronics,audio,acoustic,1,0,0,365,1,0,1,0,0
2,2020-09-24,12:48:31,view,1515915625519407618,JB3Sy5LCfb,124712,204.79,electronics,audio,acoustic,1,0,0,513,68,61,2,1,1
3,2020-09-24,12:49:34,view,1515915625519407618,bRZAHDpYFC,124712,204.79,electronics,audio,acoustic,1,0,0,513,68,61,2,1,1
4,2020-09-24,12:50:22,cart,1515915625519407618,bRZAHDpYFC,124712,204.79,electronics,audio,acoustic,0,1,0,513,68,61,2,1,1
5,2020-09-24,12:51:06,purchase,1515915625519407618,bRZAHDpYFC,124712,204.79,electronics,audio,acoustic,0,0,1,513,68,61,2,1,1
6,2020-09-24,12:56:27,view,1515915625519410290,40Go2pTPt2,593727,12.38,electronics,audio,acoustic,1,0,0,23,0,0,1,0,0
7,2020-09-24,13:19:06,view,1515915625519418511,ifPsEMLnUN,1614097,42.86,electronics,audio,acoustic,1,0,0,22,0,0,1,0,0
8,2020-09-24,13:23:00,view,1515915625407246095,hFrdKXnpyD,4102616,206.87,electronics,audio,acoustic,1,0,0,44,0,0,1,0,0
9,2020-09-24,13:54:46,view,1515915625519431986,4DPxT81h91,4100847,31.27,electronics,audio,acoustic,1,0,0,229,18,15,1,0,0
10,2020-09-24,14:34:19,view,1515915625482978862,6049fa94-3cb1-4e59-81d0-d01029a9ee40,1674137,30.21,electronics,audio,acoustic,1,0,0,18,1,1,2,0,0
11,2020-09-24,15:00:05,view,1515915625517146957,RWbNKB2Ppu,1166287,135.41,electronics,audio,acoustic,1,0,0,101,8,6,1,0,0
12,2020-09-24,15:17:28,view,1515915625506634888,8tkinBW75E,1508375,225.83,electronics,audio,acoustic,1,0,0,64,1,0,1,0,0
13,2020-09-24,15:43:00,view,1515915625519468736,hoOpYnUZRS,3791042,17.94,electronics,audio,acoustic,1,0,0,127,0,0,2,0,0
14,2020-09-24,15:45:38,view,1515915625519468736,Er356jsXn4,3791042,17.94,electronics,audio,acoustic,1,0,0,127,0,0,2,0,0

In [5]:
df[df["user_id"]==1515915625519468736]

,Date,Time,event_type,user_id,user_session,product_id,price,category,subcategory,subsubcategory,is_view,is_cart,is_purchase,p_views,p_carts,p_purchases,user_views,user_carts,user_purchases
13,2020-09-24,15:43:00,view,1515915625519468736,hoOpYnUZRS,3791042,17.94,electronics,audio,acoustic,1,0,0,127,0,0,2,0,0
14,2020-09-24,15:45:38,view,1515915625519468736,Er356jsXn4,3791042,17.94,electronics,audio,acoustic,1,0,0,127,0,0,2,0,0

In [6]:
df.columns

Index(['Date', 'Time', 'event_type', 'user_id', 'user_session', 'product_id',
       'price', 'category', 'subcategory', 'subsubcategory', 'is_view',
       'is_cart', 'is_purchase', 'p_views', 'p_carts', 'p_purchases',
       'user_views', 'user_carts', 'user_purchases'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305909 entries, 0 to 305908
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date            305909 non-null  object
 1   Time            305909 non-null  object
 2   event_type      305909 non-null  object
 3   user_id         305909 non-null  int64
 4   user_session    305909 non-null  object
 5   product_id      305909 non-null  int64
 6   price           305909 non-null  float64
 7   category        305909 non-null  object
 8   subcategory     305909 non-null  object
 9   subsubcategory  305909 non-null  object
 10  is_view         305909 non-null  int64
 11  is_cart         305909 non-null  int64
 12  is_purchase     305909 non-null  int64
 13  p_views         305909 non-null  int64
 14  p_carts         305909 non-null  int64
 15  p_purchases     305909 non-null  int64
 16  user_views      305909 non-null  int64
 17  user_carts      305909 non-null  int64
 18  user_purchases  305909 non-null  int64
dtypes: float64(1), int64(11), object(7)
memory usage: 44.3+ MB

In [8]:
analyse_df= df[['user_id','product_id','subsubcategory','is_view','is_cart','is_purchase','p_views','p_carts','p_purchases']]

In [9]:
analyse_df['rating']=analyse_df['p_views']*1+analyse_df['p_carts']*5+analyse_df['p_purchases']*10
analyse_df

C:\Users\Yann LAVRY\AppData\Local\Temp\ipykernel_12892\1280787115.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  analyse_df['rating']=analyse_df['p_views']*1+analyse_df['p_carts']*5+analyse_df['p_purchases']*10

,user_id,product_id,subsubcategory,is_view,is_cart,is_purchase,p_views,p_carts,p_purchases,rating
0,1515915625519390366,3828758,acoustic,1,0,0,372,1,0,377
1,1515915625519398031,1271549,acoustic,1,0,0,365,1,0,370
2,1515915625519407618,124712,acoustic,1,0,0,513,68,61,1463
3,1515915625519407618,124712,acoustic,1,0,0,513,68,61,1463
4,1515915625519407618,124712,acoustic,0,1,0,513,68,61,1463
...,...,...,...,...,...,...,...,...,...,...
305904,1515915625611012647,3506321,wifi,1,0,0,151,0,0,151
305905,1515915625611017316,3721154,wifi,1,0,0,427,25,18,732
305906,1515915625611014848,3698949,wifi,1,0,0,12,1,0,17
305907,1515915625611014848,673347,wifi,1,0,0,23,0,0,23
305908,1515915625611014817,673347,wifi,1,0,0,23,0,0,23

In [10]:
df_purchased=analyse_df[df['p_purchases']>0]
test=df_purchased
df_purchased=df_purchased[['user_id','product_id','subsubcategory','rating']]
normalized_dfs=[]
for _, group in df_purchased.groupby('subsubcategory'):
    max_rating = group['rating'].max()
    group['rating'] = group['rating'] / max_rating
    normalized_dfs.append(group)
    final_puchased_df= pd.concat(normalized_dfs)
final_puchased_df

                    user_id  product_id subsubcategory    rating
2       1515915625519407618      124712       acoustic  0.951854
3       1515915625519407618      124712       acoustic  0.951854
4       1515915625519407618      124712       acoustic  0.951854
5       1515915625519407618      124712       acoustic  0.951854
9       1515915625519431986     4100847       acoustic  0.305140
...                     ...         ...            ...       ...
305898  1515915625610993093      895769           wifi  0.227071
305899  1515915625610993093      895769           wifi  0.227071
305900  1515915625610994338     3721154           wifi  0.541420
305901  1515915625610993093      912085           wifi  0.022929
305905  1515915625611017316     3721154           wifi  0.541420

[229515 rows x 4 columns]

In [11]:
final_puchased_df[final_puchased_df["user_id"]==1515915625611017316]

                    user_id  product_id subsubcategory   rating
305905  1515915625611017316     3721154           wifi  0.54142

In [12]:

df_purchased=final_puchased_df.drop_duplicates()
df_purchased

                    user_id  product_id subsubcategory    rating
2       1515915625519407618      124712       acoustic  0.951854
9       1515915625519431986     4100847       acoustic  0.305140
10      1515915625482978862     1674137       acoustic  0.021470
11      1515915625517146957     1166287       acoustic  0.130774
15      1515915625519470612      857266       acoustic  0.037736
...                     ...         ...            ...       ...
305891  1515915625610939981      846904           wifi  1.000000
305898  1515915625610993093      895769           wifi  0.227071
305900  1515915625610994338     3721154           wifi  0.541420
305901  1515915625610993093      912085           wifi  0.022929
305905  1515915625611017316     3721154           wifi  0.541420

[113898 rows x 4 columns]

In [13]:
pivot_table1 = df_purchased.pivot_table(
    values='rating', 
    index='product_id', 
    columns='user_id',
    fill_value=0
)
pivot_table1

In [ ]:
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
pivot_table_scaled = scaler.fit_transform(pivot_table1)
pivot_table_scaled
# Utiliser Truncated SVD pour la réduction de dimension
svd = TruncatedSVD(n_components=10)
pivot_table_reduced = svd.fit_transform(pivot_table_scaled)
sdv_df=pd.DataFrame(pivot_table_reduced, index=pivot_table1.index)
sdv_df
# # Calculer la matrice de corrélation

# # svd_df = pd.DataFrame(correlation_matrix, index=pivot_table1.index, columns=['product_id', 'product_id'])

,0,1,2,3,4,5,6,7,8,9
product_id,,,,,,,,,,
2365,-1.828988,-1.732728,-1.576322,-1.610488,-0.868961,-1.552433,-0.947896,-0.424771,-0.829274,-0.570659
3727,-1.808191,-1.692179,-1.560445,-1.578495,-0.848551,-1.144959,-0.929566,-0.635073,-0.804745,-0.589249
4279,-1.632090,-0.430636,-2.254389,-1.536280,-1.777580,5.505036,-14.826671,-4.472509,9.396293,-18.343778
6265,-1.810890,-1.712971,-1.555305,-1.584768,-0.851699,-1.512592,-0.914833,-0.412343,-0.803402,-0.554769
6476,-1.846320,-1.716333,-1.603006,-1.646134,-0.895256,-1.589853,-1.025836,-0.453366,-0.831025,-0.651116
...,...,...,...,...,...,...,...,...,...,...
4183862,-1.811372,-1.705363,-1.559872,-1.531314,-0.846831,-1.512158,-0.926455,-0.407781,-0.809685,-0.551328
4183863,0.106881,7.184636,-2.431510,55.330191,10.803221,12.293155,10.966465,-37.393325,10.719412,-20.310431
4183864,-1.647540,-0.500240,-1.776604,7.832184,1.236042,-1.387409,-1.236349,-1.060920,-0.155542,0.050227
4183865,-1.808594,-1.706148,-1.555283,-1.576179,-0.851693,-1.497356,-0.918130,-0.398698,-0.803376,-0.558069
4183866,-1.787017,-1.658449,-1.564748,-1.572416,-0.837235,-1.442411,-0.930909,-0.445394,-0.814946,-0.550831

In [ ]:
matrix = pd.DataFrame(sdv_df.T).corr()

In [ ]:
matrix

product_id,2365,3727,4279,6265,6476,7887,11014,11551,16108,16116,...,4183854,4183856,4183859,4183860,4183861,4183862,4183863,4183864,4183865,4183866
product_id,,,,,,,,,,,,,,,,,,,,,
2365,1.000000,0.959713,-0.385405,0.999881,0.998579,0.972203,0.999851,0.995533,0.999922,0.999988,...,0.529017,0.490813,-0.314871,0.958312,0.790525,0.999394,-0.549867,-0.113525,0.999773,0.998452
3727,0.959713,1.000000,-0.305782,0.963050,0.954223,0.936953,0.962217,0.942191,0.962719,0.960790,...,0.544478,0.523696,-0.078583,0.968591,0.737951,0.960611,-0.474876,-0.146483,0.963693,0.971554
4279,-0.385405,-0.305782,1.000000,-0.383061,-0.347947,-0.163907,-0.377646,-0.345017,-0.381383,-0.382347,...,0.379552,0.076073,0.371104,-0.383273,-0.388730,-0.383697,0.327757,0.046301,-0.377951,-0.375985
6265,0.999881,0.963050,-0.383061,1.000000,0.998142,0.971910,0.999903,0.994414,0.999988,0.999932,...,0.532046,0.492722,-0.306355,0.959091,0.788621,0.999428,-0.544032,-0.113934,0.999919,0.998795
6476,0.998579,0.954223,-0.347947,0.998142,1.000000,0.981122,0.998479,0.998551,0.998337,0.998592,...,0.553541,0.499895,-0.317991,0.956005,0.783590,0.997560,-0.555857,-0.118265,0.998216,0.996798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4183862,0.999394,0.960611,-0.383697,0.999428,0.997560,0.971592,0.999399,0.993853,0.999471,0.999433,...,0.526316,0.491939,-0.310581,0.958416,0.807972,1.000000,-0.527168,-0.082021,0.999490,0.998164
4183863,-0.549867,-0.474876,0.327757,-0.544032,-0.555857,-0.521889,-0.549121,-0.583825,-0.545053,-0.548113,...,-0.133073,-0.557498,0.094612,-0.556312,-0.185911,-0.527168,1.000000,0.723186,-0.545063,-0.543298
4183864,-0.113525,-0.146483,0.046301,-0.113934,-0.118265,-0.105440,-0.115459,-0.129751,-0.113028,-0.113366,...,-0.104944,-0.276369,-0.183249,-0.139599,0.441868,-0.082021,0.723186,1.000000,-0.112499,-0.117827
4183865,0.999773,0.963693,-0.377951,0.999919,0.998216,0.973026,0.999971,0.994705,0.999923,0.999847,...,0.531115,0.502920,-0.298655,0.960008,0.791282,0.999490,-0.545063,-0.112499,1.000000,0.998929
4183866,0.998452,0.971554,-0.375985,0.998795,0.996798,0.970889,0.998726,0.992987,0.998826,0.998594,...,0.528350,0.505132,-0.268052,0.970978,0.790652,0.998164,-0.543298,-0.117827,0.998929,1.000000

In [ ]:
def recommend_products(product_id, correlation_matrix=matrix, top_n=10):
    if product_id not in correlation_matrix:
        return f"Le produit {product_id} n'est pas dans la matrice de corrélation."
    product_correlations = correlation_matrix[product_id]
    similar_products = product_correlations.sort_values(ascending=False)
    similar_products = similar_products.drop(product_id)
    return similar_products.head(top_n)

# Exemple d'utilisation

In [ ]:
recommend_products(3727)

product_id
4183834    0.999098
4085763    0.998793
893187     0.997554
1812567    0.991745
1401335    0.991150
4155387    0.988421
4079113    0.987593
1507368    0.987126
817981     0.986007
4154238    0.985965
Name: 3727, dtype: float64

In [ ]:
df[df["user_id"]==1515915625519407618].shape[0]

4

In [ ]:
def recommen_user_v1(id):
    user=df[df["user_id"]==id].iloc[[-1]]
    product=user["product_id"].array[0]
    print(user["product_id"].array)
    list_recommend=recommend_products(product)
    return list_recommend

In [ ]:
list=recommen_user_v1(1515915625519407618)

<PandasArray>
[124712]
Length: 1, dtype: int64

In [ ]:
list.index[0]

4067425

In [ ]:
list.index

Index([4067425, 3699987,   87414, 1768424, 4078956, 4101476, 1444307,   85962,
       1660544, 3961660],
      dtype='int64', name='product_id')

In [ ]:
def recommen_user_v2(id):
    user_history=df[df["user_id"]==id]
    product_history=user_history["product_id"].array
    max_produit=0
    max_pond=0
    i=0
    for prod in product_history:
        if max_pond< sum(recommend_products(prod)*(product_history.shape[0]-i)/product_history.shape[0]):
            max_pond=sum(recommend_products(prod)*(product_history.shape[0]-i)/product_history.shape[0])
            max_produit=prod
    i=i+1
    recom_df=recommend_products(max_produit)
    print(max_pond)
    print(max_produit)
    recom_df=recom_df.sort_values(ascending=False).head(10)
    return recom_df

In [ ]:
list2=recommen_user_v2(1515915625611017316)
list2

8.248153196158833
3721154

product_id
864174     0.859965
3791400    0.848006
1549667    0.826336
456859     0.825917
471287     0.819809
1839031    0.819711
1444868    0.815870
4183847    0.813521
601783     0.810070
4101537    0.808947
Name: 3721154, dtype: float64

In [ ]:
df[df['product_id']==3760003]

,Date,Time,event_type,user_id,user_session,product_id,price,category,subcategory,subsubcategory,is_view,is_cart,is_purchase,p_views,p_carts,p_purchases,user_views,user_carts,user_purchases
154753,2020-09-24,20:24:45,view,1515915625519538711,72izbCk3bv,3760003,322.57,computers,peripherals,printer,1,0,0,284,42,38,1,0,0
154884,2020-09-25,11:25:37,view,1515915625519690441,9tKLTrHxtL,3760003,322.57,computers,peripherals,printer,1,0,0,284,42,38,4,0,0
155715,2020-09-30,04:57:47,view,1515915625521017403,8N3DTLof9x,3760003,322.57,computers,peripherals,printer,1,0,0,284,42,38,8,0,0
155815,2020-09-30,13:21:00,view,1515915625521151051,P5A3EMWppk,3760003,322.57,computers,peripherals,printer,1,0,0,284,42,38,3,1,1
155816,2020-09-30,13:21:20,view,1515915625521151051,P5A3EMWppk,3760003,322.57,computers,peripherals,printer,1,0,0,284,42,38,3,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187542,2021-02-25,03:20:56,view,1515915625609314339,bo6w7I9UIg,3760003,322.57,computers,peripherals,printer,1,0,0,284,42,38,2,0,0
187543,2021-02-25,03:21:06,view,1515915625609314339,bo6w7I9UIg,3760003,322.57,computers,peripherals,printer,1,0,0,284,42,38,2,0,0
187580,2021-02-25,06:12:49,view,1515915625609352107,TpDvqtwEiv,3760003,322.57,computers,peripherals,printer,1,0,0,284,42,38,1,0,0
187796,2021-02-26,11:10:15,view,1515915625609951890,KSPCNehDUC,3760003,322.57,computers,peripherals,printer,1,0,0,284,42,38,2,0,0
187829,2021-02-26,15:28:50,view,1515915625609951890,KSPCNehDUC,3760003,322.57,computers,peripherals,printer,1,0,0,284,42,38,2,0,0